@media only screen and (min-width: 1024px) and (max-width: 1536px){
    *{
        zoom: 96%;
        
    }
    
    #mobile-nav-bar{
        display: none;
    }
    
    #hamburger{
        display: none;
    }
    
    
}

@media only screen and (min-width: 1920px) and (max-width: 4096px){
    #mobile-nav-bar{
        display: none;
    }
    
    #hamburger{
        display: none;
    }
    
}

@media only screen and (min-width: 1537px) and (max-width: 4096px){
    html, body{
    margin: 0;
    
    }
    
    #mobile-nav-bar{
        display: none;
    }
    
    #hamburger{
        display: none;
    }
    
    #header{
        display: flex;
    }
    
}

*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif; 
}

html, body{
    margin: 0;
    
}

a{
    color: deepskyblue;
    text-decoration-line: none;
    
}

h1{
    font-size: 40px;
    font-weight: 20;
    color:  white;
}

h2{
    color:white;
    font-size: 25px;
    font-weight: 300;
    
}

h3{
    color: white;
    font-size: 18px;
    font-weight: 400;
    
    
}

button:hover{
    cursor: pointer;
    
}

#header{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: black;
    width: 100%;
    height: auto;
    position: absolute;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.2);
}

#header-image{
    width: 150px;
    height: auto;
    margin: 0 200 0 25;
    filter: brightness(100)
}

#header-image:hover{
    cursor: pointer;
}

.header-contents{
    margin: 0 100 0 100;
    padding: 20px;
    font-size: 14px;
    font-weight: 600;
    color: white;
}
.header-contents:hover{
    color: blueviolet;
    cursor: pointer;
}

#main-container{
    /* background: linear-gradient(140deg, rgba(0,159,255,1) 0%, rgba(164,255,0,1) 100%);*/
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

#page-container{
    padding: 50px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    min-height: 100%;
    background-image: url("/images/SpeakyTo_Hero_Simple.png");
    background-repeat: no-repeat;
    background-size: 1920px 1080px;
}

#page-contents{
    padding: 50px;
    margin: 0 20 0 20;
    border-radius: 12px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.9);
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    height: auto;
    width: 45%;
}

#section-1{
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: white;
}

.section-1-contents{
    text-align: center;
    width: 100%;
    font-weight: 600;
    color: black; 
}


#speaky-ask-img{
    width: 600px;
    height: auto;
}

#speaky-answer-img{
    width: 700px;
    height: auto;
}

#hero-qa-container{
    padding: 150 0 150 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;  
}

#spkt-token{
    
    border-radius: 12px;
    box-shadow: 0px 0px 10px black;
}

#ask-page-img{
    border-radius: 12px;
    box-shadow: 0px 0px 10px black;
    height: 480px;
    
}

#speaky-q-reward-img{
    width: 600px;
    height: auto;
    transform: scaleX(-1);
}

#speaky-icx-reward-img{
    margin: 0 100 350 100;
    width: 300px;
    height: auto;
}

#speaky-a-reward-img{
    width: 600px;
    height: auto;
}

#section-2{
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: rgb(33,33,33);
}

.section-2-contents{
    padding: 0 300 0 300;
    text-align: center;
    width: 100%;
    font-weight: 600;
    color: white; 
}

#hero-qa-container{
    padding: 150px;
    margin: 0 50 0 50;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 600px;  
}





#get-started-button{
    background-color: rgb(33,33,33);
    margin-top: 5%;
    box-shadow: 0px 0px 10px rgba(0,0,0, 0.5); 
    padding: 15px;
    color: white;
    border-radius: 12px;
    font-size: 18px;
    font-weight: 500;
    border: none;
    outline: none;
    width: 30%;   
    text-align: center;
    
}


#get-started-button:hover{
    background-color: black;
    
}

@media only screen and (min-width: 300px) and (max-width: 1023px) {
    html, body{
        overflow-y: scroll;
        overflow-x: hidden;
    }
    
    #header{
        display: none;
    }
    
    #mobile-nav-bar{
        padding: 15px;
        width: 100%;
        height: 50px;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        position: absolute;
        z-index: 100;
        background-color: rgb(33,33,33);
    }
    
    #hamburger{
        fill: white;
    }
    
    #main-container{
        width: 100%;
        height: 100%;
        
    }
    
    h1{
        font-size:  24px;
    }
    
    h2{
        font-size: 20px;
        
    }
    
    h3{
        font-size: 16px;
    }
    
    #page-container{
        padding: 0;
        margin: 0;
        width: 100%;
        background-image:none;
        background-color: white;
        background-image: url("/images/SpeakyTo_Hero_Simple.png");
        background-size: 1500px;
        background-repeat: no-repeat;
        background-position: left;
    }
    
    #page-contents{
        justify-content: center;
        align-items: center;
        border-radius: 0;
        background-color: transparent;
        margin: 75 0 0 0;
        padding: 15;
        width: 100%;
        height: 75%;
        box-shadow: none;
    } 
    
    #page-contents h1, h2{
        margin: 20 0 20 0;
        font-weight: 600;
        text-align: center;
        color: black
    }
    #page-contents h3{
        padding: 20px;
        color: black;
        line-height: 1.5
    }
    
    #get-started-button{
        text-align: center;
        margin: 0;
        width: 50%;
    }
    
    #section-1{
        padding: 5;
        
    }
    
    #hero-qa-container{
        width: 100%;
        padding: 15 0 15 0;
        margin: 20 0 20 0;
        flex-direction: column;
        
    }
    
    #speaky-ask-img{
        margin: 25 0 25 0;
        width: 400px;
        height: auto;
    }
    
    #speaky-icx-reward-img{
        margin: 25 0 25 0;
        width: 150px;
        margin: 0;
        height: auto;
    }
    
    #speaky-answer-img{
        width: 350px;
        margin: 0;
        height: auto;
    }
    
    #section-2{
        justify-content: space-around;
        align-items: center;
        width: 100%;
        margin: 50 0 0 0;
     
    }
    
    .section-2-contents{
        padding: 0;
    }
    

    
    #spkt-token{
        width: 250px;
        height: auto;
    }
    
    #ask-page-img{
        width: 350px;
        height: auto
    }
}